export BASEDIR=/Users/dominic/projects/cinemap/coming-soon
export FLASK_DEBUG=True
export DATABASE_URI='sqlite:////Users/dominic/projects/cinemap/coming-soon/data/db.sqlite'
export PATH=$BASEDIR/scripts:$PATH

