#main-header
    text-align: center
    padding: 2em 0
    span
        color: color1
    p
        color: color1
        @media bigScreen
            font-size: L
nav
    text-align: center
    background-color: white
    color: black
    border-top: baseBorder
    border-bottom: baseBorder
    a
        padding: 0 0.5em

