#main-header
    padding: 2em 0
    background-color: dark
    text-align: center
    color: white
    h1
        margin: 0
        font-size: l
        // border-bottom: 1px solid white
nav
    a
        padding: 0 0.5em

