h1
    font-size: xl
    // border-bottom: 2px solid grey
    margin-bottom: 1em
    text-transform: uppercase
    
h2
    font-size: l
h3
    font-size: m


@media bigScreen
    h1
        font-size: xxl
    h2
        font-size: xl
    h3
        font-size: l
    h4
        font-size: m


body
    font-size: m
    font-family: sansFont
    line-height: 1.5
    text-rendering: geometricPrecision


h1, h2, h3, h4
    line-height: 1.2
    font-family: sansFont

p
    margin-top: m
