//
// base
//
unit = 15px
scale = 1.4
m = unit
l = scale * m
xl = scale * l
xxl = scale * xl
xxxl = scale * xxl
s = m / scale
xs = s / scale

maxPageWidth = 40em

//
// typography
//
sansFont = Lato, sans-serif
serifFont = Merriweather, serif

//
// breakpoints
//
bigScreen = '(min-width: 40em)'

//
// colors
//
dark = #343838
color1 = rgb(66, 139, 202)

//
// misc
//
baseBorder = 1px solid black
