.film
    margin-top: 2em
    img
        width: 100%
        margin-top: 1em

.film-title
    font-weight: bold
    background-color: dark 
    color: white
    padding: 0.5em

.film-year
    margin-left: 0.5em
    font-size: M
    color: grey

.secondary-film-title
    margin-left: 0.5em
    font-size: M
    color: grey

.film-info-line
    border-top: baseborder
    border-bottom: baseborder
    margin-top: 0.3em
    padding: 0.2em 0


.full-film-description
    display: none

.truncated-film-description, .full-film-description
    margin: 0.5em 0

.more, .less
    color: color2

.more:hover
.less:hover
    cursor: pointer
    text-decoration: underline

.film-interaction
    margin-top: 1em

.recommend
    width: 45%
    display: block
    text-align: center
    font-size: M
    margin: 1.4em auto

.recommendation
    display: none
    margin-top: 1em
    background-color: grey
    color: white
    padding: 1em
    border-radius: 5px
    input
        width: 100%
        padding: 0.5em
        font-size: M
        margin-top: 1em
        border-radius: 5px
    button
        margin-top: 1em
        border: none


.film-in-list
    margin-top: 1em
    img
        width: 25%
        vertical-align: top
    .info
        margin-left: 5%
        display: inline-block
        width: 65%

.film-grid
    a:hover
        background-color: inherit
    h2
        border-top: thick-border
        border-bottom: @border-top
    img
        width: 30%
        margin-right: 3%



