.twitter-typeahead
    width: 100%
    .search-input
        width: 100%
        padding: 1em
        font-size: M
        border-radius: 2em
        border: 2px solid black

.tt-dropdown-menu
    background-color: white
    line-height: 2
    width: 100%
    .tt-suggestion
        padding: 0.1em 0.5em
        border-bottom: baseborder
    .tt-cursor
        background-color: black
        color: white
