.person
    margin-top: 2em
    h2
        margin-bottom: 1em
    h3
        margin: 1em 0 2em 0
        padding: 1em
        background-color: black
        color: white
        text-transform: uppercase

    h4
        font-size: L


