extends base

block content
   .container
      main
         - for film in films
            div.media
               - if film.small_poster_url
                  img(src='{{film.small_poster_url}}')
               div.media-body
                  h2.media-title
                     a(href='{{url_for("film", pretty_id=film.pretty_id)}}')=film.title_en
                  - if film.description_en
                     p= film.description_en
                  dl
                     dt Directed by 
                     dd= film.directors[0].name
                     - if film.release_date
                        dt Release date
                        dd=film.release_date.strftime('%B %Y')
                  a(href='http://www.imdb.com/title/{{film.imdb_id}}') IMDB entry
                  br
                  - if film.trailers
                     a(href='http://www.youtube.com/watch?v={{film.trailers[0].youtube_id}}') trailer
