footer.container
   | (c) CINEMAP
   //- img(alt="Freebase CC-BY", height="23px", width="61px", src="http://www.freebase.com/policies/freebase-cc-by-61x23.png")
   //- span {{ _('Data sources') }}:
   //- a(href="http://www.freebase.com/") Freebase
   //- a(href="http://creativecommons.org/licenses/by/2.5/") (CC-BY),
   //- a(href="http://en.wikipedia.org/") Wikipedia
   //- a(href="http://creativecommons.org/licenses/by-sa/2.5/") (CC BY-SA).
   //- span {{ _('This product uses the TMDb API but is not endorsed or certified by TMDb.') }}
