extends base

block content
   .container
      main
         form(action='save-settings', method='post')
            for director in directors
               if director in current_user.followed_directors
                  input(type='checkbox', name='{{director.id}}', checked=true)
               else
                  input(type='checkbox', name='{{director.id}}')
               label= director.name
               hr
            input(type='submit')
 