extends base

block content
   .container
      main
         form(action='save-settings', method='post')
            for director in directors
               input(type='checkbox', name='{{director.id}}')
               label= director.name
               hr
            input(type='submit')
 